.main-none {
  display: none;
}

.header {
  height: 52rem;
}

.nav {
  z-index: 100;
  display: flex;
  align-items: center;
  height: 8rem;
  position: relative;
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;

  //LOGO
  &-box {
    background-color: transparent;
    color: inherit;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 9.5rem;
    cursor: pointer;
    &__name {
      font-size: 2.4rem;
      margin-left: 2.4rem;
    }
  }

  .box-movie {
    margin-left: 5rem;
  }

  //SEARCH
  &-search {
    margin-left: 14.8rem;
    display: flex;
    align-items: center;
    width: 52.5rem;
    justify-content: center;
    &__input {
      color: #d9d9d9;
      font-family: inherit;
      font-size: 1.6rem;
      border-radius: 0.8rem;
      border: 2px solid #d1d5db;
      padding: 0.6rem 1rem;
      background-color: transparent;
      margin-right: -3rem;
      width: 90%;
      transition: all 0.3s;
      &:focus {
        outline: none;
        width: 100%;
      }
      &::placeholder {
        color: #d9d9d9;
      }
    }
    .searh-button {
      height: 2rem;
    }
  }
  //SIGN IN
  &-sign {
    color: inherit;
    text-decoration: none;
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 9.8rem;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid white;
    }
  }
}

.navbar-movie {
  background-color: #01050b;
}

.homepage {
  // height: 28.5rem;
  // width: 40.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  padding-top: 7rem;
  margin-right: auto;
  margin-left: auto;
}

.homepage--background {
  z-index: -100;
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: 144rem;
  &__img {
    width: 100%;
    height: 100%;
  }
}

.about-movie {
  height: 28.5rem;
  width: 40.4rem;
  margin-left: 9.8rem;
  &_name {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-bottom: 1.6rem;
  }
  &_rating {
    display: flex;
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
    .rating {
      display: flex;
      align-items: center;
    }
    .rating-tomato {
      margin-left: 3.4rem;
    }

    .rating-rate {
      margin-left: 1rem;
    }
  }

  &_decription {
    width: 30.2rem;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

.movie-main {
  margin-bottom: 0;
}

.movie-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16.9rem;
  line-height: 2.4rem;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  color: #fff;
  background-color: #be123c;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0.1rem 1rem rgba($color: #000000, $alpha: 0.5);
  }
  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0.5);
  }
}

.slide-movies {
  display: flex;
  flex-direction: column;
  color: #9ca3af;
  font-weight: 600;
  font-size: 1.2rem;
  align-items: center;
}
.slide-to {
  cursor: pointer;
}

.current-slide {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding-right: 1.9rem;

  &::before {
    content: "";
    display: inline-block;
    height: 0.3rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 3.4rem;
    position: relative;
    right: 0.6rem;
    bottom: 0.4rem;
  }
}

.zoom {
  zoom: 1.4;
}

.play {
  margin-left: 3rem;
  width: auto;
  background-color: transparent;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    .play-movie {
      fill: #9ca3af;
    }
    box-shadow: none;
    color: #9ca3af;
  }
}
