.sectionMovie {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 144rem;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9.8rem;
  margin-right: 9.8rem;

  .title-heading {
    font-size: 3.6rem;
    font-weight: 600;
  }
  .title-seeMore {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #be123c;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid transparent;
    height: 3rem;
    &:hover {
      border-bottom: 1px solid #be123c;
    }
    .seeMore-right {
      margin-left: 0.8rem;
    }
  }
}

.movie-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movielist {
  // height: 51.3rem;
  // overflow: hidden;
  width: 124rem;
  margin-top: 4.4rem;
  color: black;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  column-gap: 8rem;
}

.moviecard {
  text-decoration: none;
  width: 25rem;
  margin-bottom: 2.3rem;
  &:visited {
    color: inherit;
  }
  .moviecard-poster {
    margin-bottom: 1.2rem;
    .like {
      width: 25rem;
      position: absolute;
      z-index: 10;

      &:hover {
        cursor: pointer;
      }

      &-right {
        height: 3rem;
        width: 3rem;
        margin-left: auto;
        margin-top: 1.558rem;
        margin-right: 1.6rem;
      }
    }
  }
  .moviecard-details {
    .about {
      font-size: 1.2rem;
      font-weight: 600;
      color: #9ca3af;
      margin-bottom: 1.2rem;
    }
    .movie-name {
      font-size: 1.8rem;
      font-weight: 600;
      color: #111827;
      margin-bottom: 1.2rem;
    }

    .card-rating {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2rem;
    }
  }
}

.btn {
  display: inline-block;
  margin-bottom: 6rem;
  transition: all 0.2s;
  &-right {
    &:hover {
      cursor: pointer;
      transform: translateX(0.2rem) scale(1.03);
    }
  }
  &-left {
    &:hover {
      cursor: pointer;
      transform: translateX(-0.2rem) scale(1.03);
    }
  }
}
