// .showmovie {
// }
.showmovie-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-movie {
  backdrop-filter: blur(2rem);
  background-color: rgba($color: #000000, $alpha: 0.5);
  // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}
.movie {
  filter: none;
  width: 140rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 3rem 4rem 3rem;
  display: flex;
  column-gap: 3rem;
}

//movie poster and about movie
.movie-poster {
  min-width: 30rem;
  height: 45rem;
  border-radius: 1rem;
  // margin-right: 3rem;
}

.moviedata {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.moviedata-title {
  margin-bottom: 3rem;
}

.title-name {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.movie-genre {
  display: flex;
  font-size: 1.6rem;
  font-weight: 200;
  align-items: center;
}

.certification {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  padding: 0.06em 4px 0.15em 4px;
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
}
.releasedate {
  font-weight: 300;
}
.genre {
  margin-left: 0.5rem;

  &-tx {
    text-transform: uppercase;
    margin-left: 0.5rem;
    padding: 0.2rem 0.6rem;
    border: 1px solid white;
    border-radius: 5rem;
    font-weight: 500;
  }
}

.movie-rate {
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
}

.like-right {
  margin-left: 3rem;
  zoom: 1.5;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.06) translateY(-0.05rem);
  }
}

.rating-main {
  margin-left: 2.5rem !important;
}

.overview {
  &-tagline {
    color: #b3b3b3;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 1.2rem;
  }

  &-head {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  &-data {
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
}

// .showmovie-data {
// }

.data-main {
  display: flex;
  width: 140rem;
  padding: 3rem 4rem 3rem 3.4rem;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

//CAST CONTAINER
.cast-sec {
  padding-right: 3rem;
  width: 106rem;
  margin-bottom: 3rem;

  .top {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.cast-container {
  width: 100%;
  margin-top: -1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1rem;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 0.8rem;
  }
  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: #c1c1c1;
  }
}

.cast-list {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
}

.list {
  min-width: 14rem;
  width: 14rem;
  margin: 1rem 0.4rem 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 27.3rem;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: 0 0.15rem 0.4rem rgba($color: #000000, $alpha: 0.2);
  padding-bottom: 1rem;

  &:first-child {
    margin-left: 0rem;
  }
}

.list-img {
  background-repeat: none;
  background-size: cover;
  height: 17.5rem;
  width: inherit;
}
.list-details {
  padding: 1rem 1rem 1rem 1rem;

  .name {
    font-weight: 600;
  }
  .role {
    font-size: 1.2rem;
  }
}

.data-cast {
  padding-left: 1.5rem;
  min-width: 26rem;
}

.detail-movie {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.rev-data {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #2f2f2f;
}
.strong {
  font-size: 1.7rem;
  display: block;
  font-weight: 600;
  color: rgb(13, 13, 13);
}
